@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('./reset.css');
@import url('./variables.css');
@import url('./navigation.css');
@import url('./layout.css');

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

theme-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
}

/*body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-rows:
        auto
        1fr
        auto;
    justify-items: center;
    inline-size: min(100% - 2rem, 1280px);
    margin: 0 auto;

    & > * {
        width: 100%;
    }
}

body > header {
    padding: 2.5rem 0;

    theme-toggle {
        position: absolute;
        right: 15px;
        top: 15px;
    } 
}

body > footer {
    padding: 2.5rem 0;
}

book-list-item {
    display: block;

    #meta {
        width: 50px;
        display: block;
        anchor-name: --meta;
    }

    [popover] {
        inset: unset;
        bottom: anchor(top);
        left: anchor(center);
        position-anchor: --meta;
    }
}*/