package components

import "github.com/asayuki/gopherreads/models"

func getDirectoryLink(directory models.DirectoryItem) string {
    return ""
}

templ Navbar(directories []models.DirectoryItem) {
    <nav>
        <ul>
        for _, item := range directories {
            <li>
                <a hx-get={ item.Path } hx-target="#body" hx-push-url="true">{ item.Name }</a>
            </li>
        }
        </ul>
    </nav>
}